* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}

header.sticky {
    background: rgba(255, 255, 255, 1);
}

header:hover {
    background: rgba(255, 255, 255, 1);
}

.logo {
    flex: 1;
    cursor: pointer;
}

.menu {
    flex: 3;
    display: flex;
}

.menu>li {
    padding: 0 12px;
    position: relative;
}

.menu>li:hover .sub-menu {
    visibility: visible;
    top: 25px;
}

.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
}

.menu>li a {
    font-size: 14px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

.others {
    flex: 1;
    display: flex;
}

.others>li {
    padding: 0 12px;
    position: relative;
}

.others>li:first-child {
    position: relative;
}

.others>li:first-child input {
    width: 100%;
    border: none;
    background: transparent;
}

.container-2 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-2 input#search {
    width: 100%;
    height: 35px;
    background: #f2f2f2;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #262626;
}

.container-2 .icon {
    position: absolute;
    margin-left: 8px;
    margin-top: 9px;
    z-index: 1;
}


/* SLIDER */

#Slider {
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 450px;
    transition: 0.3s;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.dot-container {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: auto;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
    padding-bottom: 30px;
    border-top: 3px solid #000;
    overflow: hidden;
}

.app-google {
    margin: 50px;
}

.app-google img {
    height: 50px;
    cursor: pointer;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}


/* END HEADER */

.row {
    display: flex;
    flex-wrap: wrap;
}


/* CHi tiết */

.product-top {
    margin-bottom: 20px;
}

.product-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 21px;
    font-weight: bold;
    color: #333333;
}

.product-content-left {
    width: 50%;
}

.product-content-left-big-img {
    width: 80%;
    box-shadow: 0px 0px 1px 0px;
}

.product-content-left-big-img img {
    width: 100%;
}

.product-content-left-small-img {
    width: 20%;
}

.product-content-left-small-img img {
    width: 100%;
    box-shadow: 0px 0px 1px 0px;
    padding: 2px;
    cursor: pointer;
}

.product-content-right {
    width: 50%;
    padding-left: 20px;
}

.product-content-right-product-name h1 {
    font-family: var(--main-text-font);
    font-size: 25px;
}

.product-content-right-product-name p {
    color: #efe7e7;
    font-size: 13px;
}

.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.product-content-right-product-button input {
    padding-left: 15px;
    width: 150px;
    height: 40px;
    display: block;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid black;
}

.product-content-right-product-button input:hover {
    background-color: black;
    color: white;
}

.product-content-right-product-icon {
    display: flex;
}

.product-content-right-product-icon-item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.product-content-right-product-icon-item i {
    font-size: 16px;
    margin: 6px;
    cursor: pointer;
}

.product-content-right-bottom {
    padding-top: 10px;
    border-top: 1px solid #dddddd;
    position: relative;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}

.product-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

.product-content-right-bottom-content-title-item p {
    font-size: 15px;
}

.product-content-right-bottom-content {
    padding-top: 30px;
    font-size: 15px;
}

.product-content-right-bottom-content-thongso {
    display: none;
}

.activeB {
    display: none;
}


/* product-related */

.product-related {
    margin-bottom: 50px;
}

.product-related-title {
    margin: 20px 0;
}

.product-related-title p {
    font-size: 21px;
    font-weight: bold;
    color: #333333;
}

.product-related-item {
    width: 20%;
    text-align: center;
    padding: 0 6px;
    font-size: 12px;
}

.product-related-item img {
    width: 100%;
    box-shadow: 0 0 0px 1px;
    cursor: pointer;
}

.product-related-item img:hover {
    transition: 2s;
    transform: scale(1.1);
}

.product-related-item h1 {
    font-size: 20px;
    color: #333333;
    margin-top: 6px;
}

#le {
    background-color: rgb(212, 207, 207);
}


/* FOOTER */

footer {
    text-align: center;
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img {
    height: 50px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
}

.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer-center {
    text-align: center;
}

.footer-bottom {
    padding: 7px;
    text-align: center;
    background-color: rgb(193, 184, 184);
}